# Node
node_modules/

# Next
.next/

# Logs
npm-debug.log*
yarn-debug.log*

# Env
.env
.env.local
.env.*.local

# Mac
.DS_Store

# Lockfiles
package-lock.json
pnpm-lock.yaml

# Editor
.vscode/
.idea/
